**/.typify/

*.pyc
*.pyo
__pycache__/

venv/
env/
*.egg-info/
*.eggs/

.idea/
.vscode/
*.swp

*.log
*.tmp
*.bak
*.swp
.DS_Store

.coverage
*.pytest_cache/

Pipfile
Pipfile.lock

.ipynb_checkpoints/

Thumbs.db
Desktop.ini

dist/
build/